# -------------------------------
# Core App
# -------------------------------
python-dotenv==1.0.1
streamlit==1.32.2


# -------------------------------
# Data & Scraping
# -------------------------------
requests==2.31.0
beautifulsoup4==4.12.3
feedparser==6.0.11

# -------------------------------
# NLP & Sentiment
# -------------------------------
vaderSentiment==3.3.2
transformers==4.40.2
torch==2.2.2
sentencepiece==0.2.0
tokenizers==0.19.1

# -------------------------------
# Social Media
# -------------------------------
snscrape==0.7.0.20230622
praw==7.7.1

# -------------------------------
# Utilities
# -------------------------------
urllib3==2.2.1
tqdm==4.66.4
